<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing infrastructure -->

	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />

	<!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory -->
	<!-- MVC Resources to map resources like: images, js, & css where spring can reach -->
	<mvc:resources location="/resources/css/" mapping="/resources/css/**" />
	<mvc:resources location="/resources/images/" mapping="/resources/images/**" />
	<mvc:resources location="/resources/js/" mapping="/resources/js/**" />
	<mvc:resources location="/resources/" mapping="/resources/**"/>

	<context:component-scan base-package="com.project.controllerImpl" />
	<context:component-scan base-package="com.project.serviceImpl" />
	<context:component-scan base-package="com.project.daoImpl" />

	<!-- Importing the hibernate-context to the spring context -->
	<!-- <beans:import resource="hibernate-context.xml" /> -->
	<beans:import resource="mysql_hibernate.xml" />

	<beans:bean id="viewResolver"
		class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
		<beans:property value="view" name="basename"></beans:property>
		<beans:property value="0" name="order"></beans:property>
	</beans:bean>

	<!-- Tiles Integration with Spring -->	
	<beans:bean id="tilesViewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<beans:property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"/>
	</beans:bean>

	<!-- Tiles configuration -->	
	<beans:bean
		class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<beans:property name="definitions">
			<beans:list>
				<beans:value>/WEB-INF/views/client/user-site-tiles-defs.xml</beans:value>
				<beans:value>/WEB-INF/views/admin/admin-site-tiles-defs.xml</beans:value>
				<beans:value>/WEB-INF/views/institute/institute-site-tiles-defs.xml</beans:value>
				
			</beans:list>
		</beans:property>
	</beans:bean>
	
</beans:beans>
